/*NAVIGATION*/


.gradient-background{
    background: white;
    border: none;
}
/*
ul>li>a{
    text-decoration: none;
    font-size: 1.25rem;
    color: red;
    background-color: white;
    padding-top: 20%;
    padding-bottom: 12%;
}

ul>li>a:hover{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    background-color: red;
    padding-top: 20%;
    padding-bottom: 12%;    
}
*/

.navi {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
 
  ul> li {
    display: block;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 10px;
    left: 80%;
  }
  
  ul> li> a {
    display: flex;
    position: relative;
    font: normal 18px/100%;
    text-decoration: none;
    background: #000;
    padding: 0;
    line-height: 40px;
    -webkit-text-fill-color: #fff;
  }
  
  ul> li:nth-child(1)> a {
      background: red;
      color:red
  }
  
  ul> li:nth-child(2)> a {
    background: red;
      color:red
  }
  
  ul> li:nth-child(3)> a {
      background: red;
      color:red;
  }
  
  ul> li:nth-child(4)> a {
      background: red;
      color: red;
  }
  
  ul> li >a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    border: 20px solid;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
  }
  
  ul> li> a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border: 20px solid;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }
  
  ul> li> a:hover {

    background-color: rgb(87, 77, 77);

  }
  
  ul> li> a:hover::before, ul> li> a:hover::after {
    border-color: rgb(87, 77, 77);
  }


  #ninja{
    color: red;
    position: relative;
    left: 10px;
  }
  #tech{
    color: black;
    position: relative;
    left: 10px;
  }

 img[src="./assets/img/NINJA TECH Banner.png"]{
  width: 100%;
  text-align: center;
 }

/*NAVIGATION END*/

/*FEATURES*/
#ninja-features{
  background-color: rgb(109, 43, 43);
  height: 20%;
  margin: 0 5%;
}

.ninja-fhead{
  background-color: rgb(109, 43, 43);
  width: 25%;
  border: solid white;
  border-radius: 50%;

}

#ninja-features>div>div>div>h2, #ninja-features>div>div>div>p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#ninja-features>div>div>div>h2{
  padding-bottom: 5px;
  padding-top: 20px;
}
/*FEATURES END*/

/*FOOTER*/
#ninja-footer{
  background-color: rgb(211, 202, 202);
  height: 50px;
  margin: 0 5%;

}

#ninja-footer>p{
  position: relative;
  top: 10px;
  left: 10px;
}

/*FOOTER END*/

/*MEDIA QUERRY*/

@media  (max-width: 999px) {

ul> li {
  display: block;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 10px;
  left: 0;
}

}

/*MEDIA END*/
